.col-1 {width: 8.333333%;}
.col-2 {width: 16.666666%;}
.col-3 {width: 25%;}
.col-4 {width: 33.333333%;}
.col-5 {width: 41.666666%;}
.col-6 {width: 50%;}
.col-7 {width: 58.333333%;}
.col-8 {width: 66.666666%;}
.col-9 {width: 75%;}
.col-10 {width: 83.333333%;}
.col-11 {width:91.666666%;}
.col-12 {width: 100%;}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
*{
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0;
}
body{
    background: linear-gradient( to right, #131022, #110F60);
    color: white;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size:  28px;
}
ul li{
    background: linear-gradient(to right ,#110F60 , #5450BE);
    border-radius: 30px;
}
ul li a{
    text-decoration: none;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
}
.center{
    display: flex;
    justify-content: center;
}
.column{
    display: flex;
    flex-direction: column;
}
.margin-y{
    margin: 15px 0;
}